body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #111;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: white;
}

/* PRODUCTS */
.products {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button {
  border-radius: 5px;
}
